*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #b1eebf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

hr{
    margin: 1rem 0;
}



.card{
    width: 520px;
    background-color: #fff;
    padding: 24px;
    box-shadow: 0 0 10px 0px #b8b7b7;
    border-radius: 0 0.7rem 0.7rem 0;
    border-left: 15px groove dodgerblue;
}

.title{
    color: dodgerblue
}

.answer{
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 2rem;
    margin: 2rem 1rem;
}

button{
    padding: 0.6rem 1rem;
    border: none;
    box-shadow: 0 0 10px 0 #afaeae;
    border-radius: 0.4rem;
}

button:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 0 dodgerblue;
    transition: 0.3s;
}

