*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #ddd;
}
 
#page{
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

form{
    width: 480px;
    padding: 3rem 3rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#title{
    margin: 0;
    padding: 0;
}

input{
    border: 1px solid #ccc;
    padding: 0.6rem 1.1rem;
    width: 100%;
    border-radius: 0.3rem;
    font-size: 1rem;
}

button{
    padding: 0.7rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: dodgerblue;
    color: #fff;
    border: none;
    border-radius: 0.4rem;
    width: fit-content;
}

button:hover{
    background-color: rgb(11, 116, 221);
    cursor: pointer;
    transition: 0.3s;
}

#result{
    display: none;
}

.result{
    padding: 0.6rem 1.1rem;
    border-radius: 0.4rem;
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.result-failed{
    background-color: rgb(223, 18, 18);
}

.result-success{
    background: rgb(54, 99, 54);
}

.close{
    font-size: 20px;
    cursor: pointer;
}
